<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/javascripts/phaser.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/game.js"></script>
    <script src="/javascripts/menu.js"></script>
    <script src="/javascripts/level1.js"></script>
    <script src="/javascripts/win.js"></script>
  </head>
  <body>
    {{{body}}}


  </body>
</html>
