<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/javascripts/phaser.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    {{{body}}}
<audio src='audio/backgroundSong.mp3'></audio>


  </body>
</html>
